/* Body */
body {
    margin: 0;
    padding: 0;
    background: #333;
    height: 100vh;
    position: relative;
}

/* Header  */

.flex_item_nav {
    background: url("./headerMax.jpg");
    max-width: 2000px;
    width: 100%;
    height: 900px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
}
header {
    position: relative;
}

header .descriptionHeader {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

header .descriptionHeader a {
    text-decoration: none;
}

header .descriptionHeader button {
    width: 200px;
    height: 60px;
    background: crimson;
    border: 2px solid crimson;
    color: #f1f1f1;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    margin-top: 35px;
    cursor: pointer;
    white-space: nowrap;
    position: relative;
    font-family: "Montserrat", "Helvetica Neue";
    font-size: 25px;
}

header .descriptionHeader button:hover {
    top: 5px;
}

header .introduction_max {
    color: #f1f1f1;
    font-size: 50px;
    font-family: "Montserrat", "Helvetica Neue";
    margin-top: 20px;
    white-space: nowrap;
    margin: 0;
}

/* TypeWriter Part  */

header .flex_position {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}
header #app {
    font-size: 60px;
    color: crimson;
    font-weight: bolder;
    font-family: "Montserrat", "Helvetica Neue";
}

header a .linkedinButton {
    font-size: 25px;
}

header nav {
    position: fixed;
    z-index: 1;
    font-family: "Montserrat", "Helvetica Neue";
}

nav ul {
    display: flex;
    margin: 0;
    margin-right: 50px;
    margin-top: 20px;
}

nav ul a {
    text-decoration: none;
}

nav ul li {
    padding: 0;
    margin: 0;
    margin-right: 15px;
    display: inline-block;
    list-style: none;
    white-space: nowrap;
    text-align: center;
    padding: 0 20px;
    color: #f1f1f1;
    cursor: pointer;
    line-height: 60px;
}

nav ul li:nth-child(3) {
    margin-left: 15px;
}

nav ul li:hover {
    display: block;
    border-radius: 10px;
    background: crimson;
    color: #f1f1f1;
    width: 60%;
    display: block;
}

.presentationHeader {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    color: #f1f1f1;
    margin-bottom: 60px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#presentation a {
    text-decoration: none;
}

.presentationHeader button {
    width: 200px;
    height: 60px;
    background: crimson;
    color: #fff;
    border: 2px solid crimson;
    transition: all 0.3s ease;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    margin-top: 20px;
    font-size: 25px;
    cursor: pointer;
    white-space: nowrap;
    font-family: "Montserrat", "Helvetica Neue";
}

.presentationHeader button:hover {
    color: crimson;
    background: none;
}
.presentationHeader {
    font-size: 20px;
}

.presentationHeader .text_1 {
    font-size: 30px;
}

.presentationHeader .text_2 {
    font-size: 50px;
}

.presentationHeader .text_3 {
    font-size: 50px;
}

header img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

/* Présentation Part */

.presentationPart {
    text-align: center;
    font-size: 50px;
    font-family: "Montserrat", "Helvetica Neue";
    color: #f1f1f1;
}

.flexPresentation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.flexPresentation img {
    margin-top: 30px;
    width: 20%;
    object-fit: cover;
    border-radius: 15px;
    margin-left: 80px;
}

#presentation button {
    width: 200px;
    height: 60px;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-family: "Montserrat", "Helvetica Neue";
    border-radius: 10px;
    padding: 5px 10px;
    margin-top: 20px;
    cursor: pointer;
    white-space: nowrap;
    border: 2px solid crimson;
    transition: all 0.3s ease;
    display: block;
    margin: auto;
    margin-top: 40px;
}

#presentation button:hover {
    color: crimson;
    background: none;
}

.flexPresentation #presentation {
    max-width: 500px;
    margin-left: 80px;
    color: #f1f1f1;
    font-family: "Montserrat", "Helvetica Neue";
}

.flexPresentation #presentation h2 {
    text-align: center;
}

.flexPresentation #presentation p {
    text-align: center;
}

.flexPresentation #presentation p::selection {
    background: crimson;
}

/* Parralax Part */

.parralax {
    background: url("./parallax-effect-t.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 300px;
    background-attachment: fixed;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parralax p {
    color: #fff;
    font-size: 60px;
}

/* Footer Part */

footer {
    margin-top: 250px;
    width: 100%;
    padding: 15px 0px;
    background: crimson;
}

footer p {
    text-align: center;
    font-size: 22px;
    color: #fff;
}

@media screen and (max-width: 428px) {
    .flex_item_nav ul li {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .introduction_max {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .descriptionHeader .introduction_max {
        font-size: 18px;
    }

    header #app {
        margin-top: 15px;
        font-size: 30px;
    }

    header a .linkedinButton {
        font-size: 20px;
    }

    .flexPresentation {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .flexPresentation img {
        width: 100%;
        margin: auto;
    }

    .parralax p {
        text-align: center;
    }

    .flexPresentation #presentation {
        display: block;
        margin: auto;
    }
}

@media screen and (max-width: 414px) {
    .flex_item_nav ul li {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .introduction_max {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .descriptionHeader .introduction_max {
        font-size: 16px;
    }

    header #app {
        font-size: 30px;
    }

    header a .linkedinButton {
        font-size: 20px;
    }

    .flexPresentation {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .flexPresentation img {
        width: 100%;
        margin: auto;
    }

    .flexPresentation #presentation {
        display: block;
        margin: auto;
    }
}
