/* Body */
body {
    margin: 0;
    padding: 0;
    background: #333;
    height: 100vh;
}

html {
    scroll-behavior: smooth;
}

/* Header  */

header .descriptionHeader {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

header .descriptionHeader a {
    text-decoration: none;
}

header .descriptionHeader button {
    width: 200px;
    height: 60px;
    background: crimson;
    border: 2px solid crimson;
    color: #f1f1f1;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    margin-top: 35px;
    cursor: pointer;
    white-space: nowrap;
    position: relative;
    font-family: "Montserrat", "Helvetica Neue";
    font-size: 25px;
}

header .descriptionHeader button:hover {
    top: 5px;
}

header .introduction_max {
    color: #f1f1f1;
    font-size: 50px;
    font-family: "Montserrat", "Helvetica Neue";
    margin-top: 20px;
    white-space: nowrap;
    margin: 0;
}

/* TypeWriter Part  */

header .flex_position {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}
header #typeWritter {
    font-size: 60px;
    color: crimson;
    font-weight: bolder;
    font-family: "Montserrat", "Helvetica Neue";
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background: crimson;
    display: block;
    width: 100%;
    height: 80px;
    position: absolute;
    font-family: "Montserrat", "Helvetica Neue";
}

.flex_item_nav nav {
    display: flex;
}

nav ul a {
    text-decoration: none;
}

header nav ul {
    display: flex;
    justify-content: center;
}

header nav ul li {
    display: inline-block;
    list-style: none;
    white-space: nowrap;
    text-align: center;
    padding: 0 20px;
    color: #f1f1f1;
    cursor: pointer;
    line-height: 60px;
    margin-left: auto;
    margin-right: auto;
}

/* Introduction Description */

#Description {
    background: url("./medias/headerMax.jpg");
    max-width: 2000px;
    width: 100%;
    height: 900px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: crimson;
    font-size: 40px;
}

#Description .introduction_max {
    margin: 0;
}

#Description #type {
    margin-top: 30px;
    font-size: 50px;
}

#Description a {
    margin-top: 30px;
    display: block;
    text-align: center;
    padding: 15px 25px;
    border-radius: 15px;
    color: #f1f1f1;
    background: crimson;
    font-size: 30px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

#Description a:hover {
    outline: 6px solid crimson;
}

/* Presentation  */

h2 {
    color: #f1f1f1;
    font-family: "Montserrat", "Helvetica Ne";
}

.description_max .CV_button {
    padding: 20px 15px;
    display: block;
    width: 20%;
    margin: auto;
    text-align: center;
    border-radius: 15px;
    font-family: "Montserrat", "Helvetica Ne";
}

.titrePresentation {
    text-align: center;
    font-size: 40px;
}

.name img {
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    transition: all 0.3s ease-in;
}

.name .inside {
    width: 50%;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.name img:hover {
    transform: scale(1.1);
}

.name p {
    margin-left: 70px;
    color: #f1f1f1;
}

.name a {
    margin-left: 30px;
    padding: 15px 25px;
    color: #f1f1f1;
    background: crimson;
    text-decoration: none;
    border: 2px solid crimson;
    transition: all 0.5s ease;
}

.name a:hover {
    background: none;
}

.Presentation {
    display: flex;
}

/* Skills */

.section_skills {
    height: 480px;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_skills .skills_container {
    margin-top: 200px;
    width: 100%;
    background-color: black;
    height: 600px;
    transition: all 0.3s;
    border-radius: 10px;
    position: relative;
}

.section_skills .skills_container .title_skills {
    text-align: center;
    font-family: "Roboto", "Helvetica Neue";
    position: absolute;
    font-size: 50px;
    left: 47%;
    color: crimson;
}

.section_skills .skills_container .containter_int {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    margin: auto;
    width: 20%;
    height: 100%;
    background: grey;
    border-radius: 15px;
}

.btn_toggle_container .burger_menu {
    display: none;
}

.section_skills .skills_container .container_all {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.section_skills .skills_container .container_skills {
    width: 25%;
    height: 70%;
    border-radius: 20px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #333;
    transition: 0.3s all ease-in;
}

.section_skills .skills_container .container_skills {
    display: flex;
}

.section_skills .skills_container .container_skills:hover {
    background-color: crimson;
}

.section_skills .skills_container .container_skills img {
    margin-top: 50px;
    width: 100px;
    height: 100px;
    transition: all 0.3s ease-in;
}

.section_skills .skills_container .container_skills p {
    padding: 18px;
    margin: 0;
    font-size: 16px;
}

.section_skills .skills_container .containter_int p {
    display: block;
    margin: 0;
    max-width: 400px;
    font-size: 16px;
}

.section_skills .skills_container .containter_int .text_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section_skills .skills_container .containter_int:hover {
    background: crimson;
}

.section_skills .skills_container img {
    width: 180px;
    height: 180px;
    display: block;
    margin: auto;
    margin: 0;
    object-fit: cover;
    border-radius: 50%;
}

.section_skills .skills_container img:hover {
    outline: 6px solid black;
}

.section_skills .skills_container p {
    font-size: 25px;
    color: #fff;
    text-align: center;
    display: block;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
}

/* Parralax Part */

.parralax {
    background: url("./medias/parallax-effect-t.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 300px;
    background-attachment: fixed;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parralax p {
    color: #fff;
    font-size: 60px;
}

.flex_item_nav .burger_menu {
    display: none;
}

/* Button */

button {
    width: 20%;
    height: 60px;
    display: block;
    margin: auto;
    margin-top: 70px;
    cursor: pointer;
}

/* Arrow Up  */

a img {
    position: fixed;
    right: 15px;
    bottom: 10px;
    width: 3%;
    filter: brightness(0) invert(1);
    cursor: pointer;
}

/* Footer Part */

footer {
    margin-top: 250px;
    width: 100%;
    padding: 15px 0px;
    background: crimson;
}

footer p {
    text-align: center;
    font-size: 22px;
    color: #fff;
}

@media screen and (max-width: 428px) {
    header nav {
        font-family: "Montserrat", "Helvetica Neue";
    }

    header nav ul {
        width: 100%;
        margin: 0;
        padding: 0;
        display: block;
    }
    .flex_item_nav nav {
        display: block;
    }
    #Description {
        background-position: right;
    }

    .btn_toggle_container .burger_menu {
        width: 15%;
        margin-left: auto;
        display: block;
    }

 

.liste_nav {
    display: none;
    
}
    .liste_nav .burger_menu{
        display: block;
    }
    .item-nav {
        display:block;
        background: crimson;
        margin: 0;
    }
    .introduction_max {
        width: 100%;
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: 35px;
    }

    .descriptionHeader .introduction_max {
        font-size: 18px;
        text-align: center;
    }

    #Description #type {
        margin-top: 15px;
        font-size: 35px;
    }

    #Description a {
        font-size: 20px;
    }

    header a .linkedinButton {
        font-size: 20px;
    }

    .flexPresentation {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .name .inside {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .name img {
        width: 100%;
        display: block;
        margin: auto;
    }

    .name p {
        margin-left: 0px;
        max-width: 300px;
    }
    .name .description_max {
        max-width: 400px;
    }

    .name .description_max a {
        width: 60%;
    }

    .flexPresentation img {
        width: 100%;
        margin: auto;
    }

    .section_skills .skills_container {
        height: 1150px;
        margin-top: 350px;
    }

    .section_skills .skills_container .title_skills {
        text-align: center;
        font-family: "Roboto", "Helvetica Neue";
        position: absolute;
        font-size: 45px;
        left: 40%;
        color: crimson;
    }
    .section_skills .skills_container .container_all {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin-top: 80px;
    }

    .section_skills .skills_container .container_all .container_skills {
        width: 100%;
        margin: 0;
        margin-top: 25px;
    }

    .section_skills .skills_container {
        width: 100%;
    }

    .section_skills .skills_container p {
        display: block;
        margin: auto;
        text-align: center;
        max-width: 500px;
        margin-left: 30px;
        font-size: 18px;
    }

    #Parralax {
        margin-top: 80px;
    }
    .parralax p {
        text-align: center;
    }

    .flexPresentation #Presentation {
        display: block;
        margin: auto;
    }

    #Parralax p {
        font-size: 25px;
        top: 0%;
        left: 40%;
    }

    a img {
        position: fixed;
        right: 15px;
        bottom: 25px;
        width: 10%;
        color: #f1f1f1;
        cursor: pointer;
    }

    footer {
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 414px) {
    .flex_item_nav ul li {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .introduction_max {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .descriptionHeader .introduction_max {
        font-size: 16px;
    }

    header #typeWritter {
        font-size: 30px;
    }

    header a .linkedinButton {
        font-size: 20px;
    }

    .flexPresentation {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .flexPresentation img {
        width: 100%;
        margin: auto;
    }

    .flexPresentation #presentation {
        display: block;
        margin: auto;
    }
}
