/* Body */
body {
    margin: 0;
    padding: 0;
    background: #333;
    height: 100vh;
}

html{
    scroll-behavior: smooth;
}

/* Header  */

header .descriptionHeader {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

header .descriptionHeader a {
    text-decoration: none;
}

header .descriptionHeader button {
    width: 200px;
    height: 60px;
    background: crimson;
    border: 2px solid crimson;
    color: #f1f1f1;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    margin-top: 35px;
    cursor: pointer;
    white-space: nowrap;
    position: relative;
    font-family: "Montserrat", "Helvetica Neue";
    font-size: 25px;
}

header .descriptionHeader button:hover {
    top: 5px;
}

header .introduction_max {
    color: #f1f1f1;
    font-size: 50px;
    font-family: "Montserrat", "Helvetica Neue";
    margin-top: 20px;
    white-space: nowrap;
    margin: 0;
}

/* TypeWriter Part  */

header .flex_position {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}
header #typeWritter {
    font-size: 60px;
    color: crimson;
    font-weight: bolder;
    font-family: "Montserrat", "Helvetica Neue";
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background: crimson;
    display: block;
    width: 100%;
    height: 80px;
    position: absolute;
    font-family: "Montserrat", "Helvetica Neue";
}

.flex_item_nav nav {
    display: flex;
}

nav ul a {
    text-decoration: none;
}

header nav ul li {
    display: inline-block;
    list-style: none;
    white-space: nowrap;
    text-align: center;
    padding: 0 20px;
    color: #f1f1f1;
    cursor: pointer;
    line-height: 60px;
    margin-left: auto;
    margin-right: auto;
}

/* Introduction Description */

#Description {
    background: url("./headerMax.jpg");
    max-width: 2000px;
    width: 100%;
    height: 900px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: crimson;
    font-size: 40px;
}

#Description .introduction_max {
    margin: 0;
}



#Description #type {
    margin-top: 30px;
    font-size: 50px;
}

#Description a {
    margin-top: 30px;
    display: block;
    text-align: center;
    padding: 15px 25px;
    border-radius: 15px;
    color: #f1f1f1;
    background: crimson;
    font-size: 30px;
    text-decoration: none;
}

#Description a:hover{
    outline: 6px solid crimson;
}

/* Presentation  */

h2{
    color: #f1f1f1;
    font-family: "Montserrat", "Helvetica Ne";
}

.description_max .CV_button{
    display: block;
    width: 30%;
    margin: auto;
    text-align: center;
    border-radius: 15px;
    font-family: "Montserrat", "Helvetica Ne";
}

.titrePresentation {
    text-align: center;
    font-size: 40px;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
}
.name .flexPresentation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.name .description_max {
    max-width: 500px;
}

.name img {
    width: 20%;
    border-radius: 15px;
}

.name p {
    margin-left: 30px;
    color: #f1f1f1;
}

.name a {
    margin-left: 30px;
    padding: 15px 25px;
    color: #f1f1f1;
    background: crimson;
    text-decoration: none;
    border: 2px solid crimson;
    transition: all 0.5s ease;
}

.name a:hover {
    background: none;
}

.Presentation {
    display: flex;
}

/* Parralax Part */

.parralax {
    background: url("./parallax-effect-t.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 300px;
    background-attachment: fixed;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parralax p {
    color: #fff;
    font-size: 60px;
}

/* Button */

button {
    width: 20%;
    height: 60px;
    display: block;
    margin: auto;
    margin-top: 70px;
    cursor: pointer;
}

/* Footer Part */

footer {
    margin-top: 250px;
    width: 100%;
    padding: 15px 0px;
    background: crimson;
}

footer p {
    text-align: center;
    font-size: 22px;
    color: #fff;
}

@media screen and (max-width: 428px) {
    header nav {
        font-family: "Montserrat", "Helvetica Neue";
    }

  

    .flex_item_nav nav ul {
        margin: 0;
        padding: 0;
    }

    .flex_item_nav nav ul li {
        display: inline-block;
        margin-left: auto;
        margin-top: auto;
    }

    .introduction_max {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .descriptionHeader .introduction_max {
        font-size: 18px;
        text-align: center;
    }

    #Description #type {
        margin-top: 15px;
        font-size: 35px;
    }

    header a .linkedinButton {
        font-size: 20px;
    }

    .flexPresentation {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .name{
        display: flex;
        flex-direction: column;
    }

    .name img{
        width: 100%;
        display: block;
        margin: auto;
    }

    .flexPresentation img {
        width: 100%;
        margin: auto;
    }

    .parralax p {
        text-align: center;
    }

    .flexPresentation #presentation {
        display: block;
        margin: auto;
    }
}

@media screen and (max-width: 414px) {
    .flex_item_nav ul li {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .introduction_max {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .descriptionHeader .introduction_max {
        font-size: 16px;
    }

    header #typeWritter {
        font-size: 30px;
    }

    header a .linkedinButton {
        font-size: 20px;
    }

    .flexPresentation {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .flexPresentation img {
        width: 100%;
        margin: auto;
    }

    .flexPresentation #presentation {
        display: block;
        margin: auto;
    }
}
